@media (min-width: 250px) {
  body {
    margin: 0;
    /* width: 100vw; */
  }

  .main_app_container {
    color: #FBFBFB;
  }

  .img_container {
    min-width: 425px;
    max-height: 712px;
    background: 100vw url("./assets/img/background/rick/backgroundHeader.svg");

    overflow-y: visible;
  }

  .img_container>img {
    width: 100%;
  }

  .content_container {
    /* background: url("./assets/img/background/rick/backgroundPage.svg") no-repeat cover; */
    background-image: url("./assets/img/background/rick/backgroundPage.svg");
    background-repeat: no-repeat;
    background-size: cover
  }

  .content_container h3 {
    font-size: 26px;
    font-family: cursive;

    text-align: center;
  }

}